amqp==2.2.2
billiard==3.5.0.3
celery==4.1.1
Django==2.2.4
django-cors-headers==2.4.0
django-debug-toolbar==1.10.1
django-enumfields==0.10.0
django-filter==2.0
djangorestframework==3.9.2
drf-yasg==1.15.0
gunicorn==19.9.0
kombu==4.2.0
msgpack-python==0.5.6
phonenumbers==8.9.14
psycopg2-binary==2.7.5
rehive==1.1.7
requests==2.20.0
sentry-sdk==0.6.9
django-healthz==0.0.3
