Django==2.2.13
django-cors-headers==2.4.0
django-filter==2.0
djangorestframework==3.9.3
drf-yasg==1.15.0
gunicorn==19.9.0
psycopg2-binary==2.7.5
rehive==1.2.12
requests==2.20.0
sentry-sdk==0.6.9
django-healthz==0.0.5
django-rehive-extras==0.0.13
drf-rehive-extras==0.0.13
django-storages[google]==1.7.1
